<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender"></appender-ref>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+Minimallock" />
      <encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="maximumFileSize" value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level: %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="720" />
    <identity impersonate="true" userName="admin" password="123456fF"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Expose-Headers" value="content-disposition"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
